.singleUser{
    display:flex;
    margin: 2rem;
    padding: 1rem;
    border: 2px solid cyan;
    border-radius:10px;
}
.userImg img{
    height:335px;
    width:250px;
    margin: 0 1rem 0 0;
    border-radius: 10px;
}

